@font-face {
    font-family: baloo;
    src: url('./../../modules/fonts/baloo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --green : #37a635;
    --green-light : #77E675;
    --brown : #a66c35;
    --brown-light : #dbc4ae;
}


* {
    font-family: baloo;
}

.bg-brown-f {
    background-color: var(--brown) !important;
}

.bg-brown-light {
    background-color: var(--brown-light);
}

.bg-green {
    background-color: var(--green);
}

.bg-green-light {
    background-color: var(--green-light);
}

.ext-btn {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0 solid transparent;
    border-radius: 0.375rem;
    transition:
        color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ext-btn-brown {
    color: #fff;
    background-color: var(--brown);
}

.font-30px {
    font-size: 30px;
}

.text-green {
    color: var(--green);
}

.text-brown {
    color: var(--brown);
}

.h-30px {
    height: 30px;
}
