<div class="border-top bg-green">
    <div class="d-flex justify-content-around mt-2">
        <div>
            <i class="bi bi-geo-alt-fill font-30px"></i>
        </div>
        <div>
            <i class="bi bi-bookmark-star-fill font-30px"></i>
        </div>
        <div>
            <i class="bi bi-info-circle-fill font-30px"></i>
        </div>
        <div>
            <i class="bi bi-people-fill font-30px"></i>
        </div>
        <div>
            <i class="bi bi-heart-pulse-fill font-30px"></i>
        </div>
    </div>
</div>
