<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div>
            <a class="navbar-brand" href="__INDEX__">Rando Spots</a>
        </div>
        <div>
            <i class="bi bi-person-fill"></i>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="__ROUTES__" class="nav-link hvr-underline active">Itinéraires</a>
                </li>
                <li class="nav-item">
                    <a href="__CREATE__" class="nav-link hvr-underline active">Prévoir</a>
                </li>
                <li class="nav-item">
                    <a href="__HISTORY__" class="nav-link hvr-underline active">Historique</a>
                </li>
                <li class="nav-item">
                    <a href="__FRIENDS__" class="nav-link hvr-underline active">Amis</a>
                </li>
                <li class="nav-item">
                    <a href="__TIPS__" class="nav-link hvr-underline active">Conseils</a>
                </li>
                <li class="nav-item">
                    <a href="__HELP__" class="nav-link hvr-underline active">Aide</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="d-none">
    <a class="navbar-brand" href="__PROFIL__">Rando Spots</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-none" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="__PROFIL__" class="nav-link hvr-underline active">Favoris</a>
            </li>
            <li class="nav-item">
                <a href="__PROJECTS__" class="nav-link hvr-underline active">Itinéraires</a>
            </li>
            <li class="nav-item">
                <a href="__CONTACT__" class="nav-link hvr-underline active">Conseils</a>
            </li>
        </ul>
    </div>
</div>
