<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="__PROFIL__">Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="__PROFIL__" class="nav-link hvr-underline active">Profil</a>
                </li>
                <li class="nav-item">
                    <a href="__PROJECTS__" class="nav-link hvr-underline active">Projets</a>
                </li>
                <li class="nav-item">
                    <a href="__CONTACT__" class="nav-link hvr-underline active">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="https://drive.google.com/file/d/1vJ91kxhVCIJLm6GVw5XGbL6tUPcL1ZIU/view?usp=sharing"
                        class="nav-link hvr-underline active" target="_blank">
                        CV
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
