<nav class="navbar navbar-expand-lg bg-brown-light">
    <div class="container-fluid">
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div>
            <a class="navbar-brand" href="__HOME__">
                <img src="./../../public/images/header/logo.png" alt="Logo" class="h-30px me-3">
                <span class="text-green">Rando</span> <span class="text-brown">Spots</span>
            </a>
        </div>
        <div>
            <a class="text-decoration-none text-dark" href="__LOGIN__">
                <i class="bi bi-person-fill"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="__ROUTES__" class="nav-link hvr-underline active">Itinéraires</a>
                </li>
                <li class="nav-item">
                    <a href="__CREATE__" class="nav-link hvr-underline active">Prévoir</a>
                </li>
                <li class="nav-item">
                    <a href="__HISTORY__" class="nav-link hvr-underline active">Historique</a>
                </li>
                <li class="nav-item">
                    <a href="__FRIENDS__" class="nav-link hvr-underline active">Amis</a>
                </li>
                <!--<li class="nav-item">
                    <a href="__TIPS__" class="nav-link hvr-underline active">Conseils</a>
                </li>-->
                <li class="nav-item">
                    <a href="__HELP__" class="nav-link hvr-underline active">Aide</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
