<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portfolio</title>
    <link rel="icon" href="./public/favicon.png" type="image/x-icon"/>

    <link rel="stylesheet" href="./../public/css/style.css"/>
    <script src="./../js/main.js" type="module"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="./../modules/bootstrap/css/bootstrap.css"/>
    <script src="./../modules/bootstrap/js/bootstrap.bundle.js"></script>
</head>
<body class="d-flex flex-column h-100">
    <header id="header"></header>
    <main role="main" class="container">
    </main>
    <footer id="footer" class="mt-auto"></footer>
</body>
</html>
